# Ignora os plugins instalados mas mantem a pasta
plugins/*
!plugins/__init__.py

# Arquivos de ambiente
.env
.venv

# Arquivos de cache
__pycache__
*.py[cod]

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.pydevproject